<!DOCTYPE html>

<html lang="en" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body paddingwidth="0" paddingheight="0" 
    style="font-family: Roboto,Helvetica, Arial,serif; padding: 0; margin: 0;  width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; background-color:#fff; text-align: center;" offset="0" toppadding="0" leftpadding="0">

    <table border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center">
        <tbody>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="bgItem">
                        <tbody style="border-left: 5px solid #fff; display: block; margin: 0 10px; border-right: 5px solid #fff;">
                            <tr>
                                <td width="40">&nbsp;</td>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

                                        <!-- =============================== Header ====================================== -->


                                        <tbody>
                                            <tr>
                                                <td class="movableContentContainer" valign="top">
                                                    <div class="movableContent">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-top: 20px;">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" align="center">
                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                            <div class="contentEditable">
                                                                                <a href="https://babytips.me">
                                                                                    <img src="https://s3.eu-north-1.amazonaws.com/img-babytips.me/email/mail-logo.png" alt="Baby Tips">
                                                                                </a>
                                                                            </div>
                                                                            <div style="height: 1px; background: #EAECF6;"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="movableContent">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                            <tbody>

                                                                <tr>
                                                                    <td align="left">
                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                            <div class="contentEditable" align="left" style="color:#222;text-align:left;font-size:14px;font-weight:normal;line-height:19px;">
                                                                                <h1 style="color: #272C4D; text-align: center; font-feature-settings: 'clig' off, 'liga' off; font-size: 28px; font-style: normal; font-weight: 400; line-height: 35px;">
                                                                                    Оплата подтверждена
                                                                                </h1>

                                                                                <div style="text-align: center; margin: 24px 0 0;">
                                                                                    <a href="https://babytips.me" style="padding: 9px 16px; display: inline-block; border-radius: 300px; background: #64A3FF; color: #fff; text-decoration: none; ">
                                                                                        BabyTips.me
                                                                                    </a>
                                                                                </div>
                                                                                <p style="text-align: center; margin: 10px 0 24px 0">Мама и малыш теперь под надёжной защитой</p>

                                                                                <div style="margin-bottom: 24px;">
                                                                                    <p>
                                                                                        Мы рады сообщить вам, что ваш платеж для подписки на сервис BabyTips успешно обработан. Мы ценим ваше доверие к нам.
                                                                                    </p>
                                                                                    <p>
                                                                                        Ваша подписка активирована с момента успешной транзакции, и вы можете начать пользоваться всеми возможностями нашего
                                                                                        сервиса немедленно.
                                                                                    </p>
                                                                                    <p>
                                                                                        Ниже вы найдете подробности вашей подписки:
                                                                                    </p>
                                                                                    <p>
                                                                                        Название подписки: {{subName}}
                                                                                        <br/>
                                                                                        Срок действия: {{subStartDate}} - {{subEndDate}}
                                                                                        <br />
                                                                                        Стоимость: {{price}} р
                                                                                        <br />
                                                                                        Скидка: {{discount}}
                                                                                        <br />
                                                                                        Итого оплачено: {{totalPrice}} р
                                                                                    </p>
                                                                                    <p>
                                                                                        Пожалуйста, сохраните эту информацию для вашего собственного удобства.
                                                                                    </p>
                                                                                    <p>
                                                                                        Если у вас возникнут какие-либо вопросы или вам потребуется помощь, не стесняйтесь связаться с нашей службой поддержки
                                                                                        по адресу 
                                                                                        <a href="mailto:info@babytips.me" style="color: #3E8DFF; font-style: normal; font-weight: 400; text-decoration: none;">info@babytips.me</a>.
                                                                                    </p>
                                                                                    <p>
                                                                                        Спасибо за ваш выбор нашего сервиса!
                                                                                    </p>
                                                                                    <p>
                                                                                        С наилучшими пожеланиями,
                                                                                        <br />
                                                                                        Команда BabyTips
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <!-- footer -->
                                                    <div style="background-color:#fff; border-radius: 10px; padding: 20px 20px 0 20px; box-shadow: 0px 1px 3px 0px rgba(209, 211, 224, 0.60); text-align: left; color:#A0A5B9; font-size: 12px; line-height: 16px; ">
                                                        <p style="margin: 0 0 10px 0;">
                                                            Вы получили это письмо, потому что этот адрес электронной почты был указан при регистрации на сервисе
                                                            <a href="https://babytips.me"
                                                                style="color: #3E8DFF; font-style: normal; font-weight: 400; text-decoration: none;">
                                                                BabyTips.me
                                                            </a>
                                                            <br/>
                                                            Если это письмо доставлено вам по ошибке, просто удалите его, мы больше не будем вас беспокоить
                                                        </p>
                                                        <p style="margin: 0 0 10px 0;">
                                                            <a href="https://babytips.me" style="color: #3E8DFF; font-style: normal; font-weight: 400; text-decoration: none;">
                                                                Отписаться от рассылки
                                                            </a>
                                                        </p>
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td valign="bottom" align="left" width="107" style="vertical-align: bottom;">
                                                                                        <img src="https://s3.eu-north-1.amazonaws.com/img-babytips.me/email/mail-footer-left.png" alt="">
                                                                                    </td>
                                                                                    <td valign="bottom" align="right" style="vertical-align: bottom;"></td>
                                                                                    <td valign="bottom" align="right" width="142" style="vertical-align: bottom;">
                                                                                        <img src="https://s3.eu-north-1.amazonaws.com/img-babytips.me/email/mail-footer-right.png" alt="">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </td>
                                <td width="40"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>