<!DOCTYPE html>

<html lang="en" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body paddingwidth="0" paddingheight="0" 
    style="font-family: Roboto,Helvetica, Arial,serif; padding: 0; margin: 0;  width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; background-color:#fff; text-align: center;" offset="0" toppadding="0" leftpadding="0">

    <table border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center">
        <tbody>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="bgItem">
                        <tbody style="border-left: 5px solid #fff; display: block; margin: 0 10px; border-right: 5px solid #fff;">
                            <tr>
                                <td width="40">&nbsp;</td>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">

                                        <!-- =============================== Header ====================================== -->


                                        <tbody>
                                            <tr>
                                                <td class="movableContentContainer" valign="top">
                                                    <div class="movableContent">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-top: 20px;">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" align="center">
                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                            <div class="contentEditable">
                                                                                <a href="https://babytips.me">
                                                                                    <img src="https://s3.eu-north-1.amazonaws.com/img-babytips.me/email/mail-logo.png" alt="Baby Tips">
                                                                                </a>
                                                                            </div>
                                                                            <div style="height: 1px; background: #EAECF6;"></div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="movableContent">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                            <tbody>

                                                                <tr>
                                                                    <td align="left">
                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                            <div class="contentEditable" align="left" style="color:#222;text-align:left;font-size:14px;font-weight:normal;line-height:19px;">
                                                                                <h1 style="color: #272C4D; text-align: center; font-feature-settings: 'clig' off, 'liga' off; font-size: 28px; font-style: normal; font-weight: 400; line-height: 35px;">
                                                                                    Subscription Cancellation
                                                                                </h1>

                                                                                <div style="text-align: center; margin: 24px 0 0;">
                                                                                    <a href="https://babytips.me" style="padding: 9px 16px; display: inline-block; border-radius: 300px; background: #64A3FF; color: #fff; text-decoration: none; ">
                                                                                        BabyTips.me
                                                                                    </a>
                                                                                </div>
                                                                                <p style="text-align: center; margin: 10px 0 24px 0">Mom and baby are well protected now</p>

                                                                                <div style="margin-bottom: 24px;">
                                                                                    <p>
                                                                                        Your subscription will be automatically canceled at the end of the billing period.
                                                                                        We would like to thank you for using our services and hope that our collaboration 
                                                                                        has been beneficial to you.
                                                                                    </p>
                                                                                    <p>
                                                                                        Details of the subscription:
                                                                                    </p>
                                                                                    <p>
                                                                                        Subscription Name: {{subName}}
                                                                                        <br/>
                                                                                        Cancellation date: {{subCancelledDate}}
                                                                                        <br />
                                                                                        Valid until: {{subEndDate}}
                                                                                    </p>
                                                                                    <p>
                                                                                        Please note that access to additional features provided within the plan may cease upon the expiration of the current
                                                                                        subscription period. If you have any questions or require further assistance, please feel free to contact our support
                                                                                        team at
                                                                                        <a href="mailto:info@babytips.me" style="color: #3E8DFF; font-style: normal; font-weight: 400; text-decoration: none;">info@babytips.me</a>.
                                                                                    </p>
                                                                                    <p>
                                                                                        Thank you for choosing our service. We look forward to the possibility of working with you again in the future.
                                                                                    </p>
                                                                                    <p>
                                                                                        Sincerely,
                                                                                        <br />
                                                                                        BabyTips team
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <!-- footer -->
                                                    <div style="background-color:#fff; border-radius: 10px; padding: 20px 20px 0 20px; box-shadow: 0px 1px 3px 0px rgba(209, 211, 224, 0.60); text-align: left; color:#A0A5B9; font-size: 12px; line-height: 16px; ">
                                                        <p style="margin: 0 0 10px 0;">
                                                            You have received this email because this email address was specified during the registration procedure on the service
                                                            <a href="https://babytips.me"
                                                                style="color: #3E8DFF; font-style: normal; font-weight: 400; text-decoration: none;">
                                                                BabyTips.me
                                                            </a>
                                                            <br/>
                                                            If this email is delivered to you by mistake, please just delete it, we won't bother you anymore
                                                        </p>
                                                        <p style="margin: 0 0 10px 0;">
                                                            <a href="{{cancelSubscription}}" style="color: #3E8DFF; font-style: normal; font-weight: 400; text-decoration: none;">
                                                                Unsubscribe
                                                            </a>
                                                        </p>
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td valign="bottom" align="left" width="107" style="vertical-align: bottom;">
                                                                                        <img src="https://s3.eu-north-1.amazonaws.com/img-babytips.me/email/mail-footer-left.png" alt="">
                                                                                    </td>
                                                                                    <td valign="bottom" align="right" style="vertical-align: bottom;"></td>
                                                                                    <td valign="bottom" align="right" width="142" style="vertical-align: bottom;">
                                                                                        <img src="https://s3.eu-north-1.amazonaws.com/img-babytips.me/email/mail-footer-right.png" alt="">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </td>
                                <td width="40"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>